<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<style>
    h4{
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[0]}}></div>
            <h4>{{topQBName}}</h3>
            <h4>{{topQBNum}}</h4>
        </div>
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[1]}}></div>
        <h4>{{topRBName}}</h3>
        <h4>{{topRBNum}}</h4>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[2]}}></div>
        <h4>{{topRBName2}}</h3>
        <h4>{{topRBNum2}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[3]}}></div>
        <h4>{{topWRName}}</h3>
        <h4>{{topWRNum}}</h4>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[4]}}></div>
        <h4>{{topWRName2}}</h3>
        <h4>{{topWRNum2}}</h4>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[5]}}></div>
        <h4>{{topFLEXName}}</h3>
        <h4>{{topFLEXNum}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[6]}}></div>
        <h4>{{topTEName}}</h3>
        <h4>{{topTENum}}</h4>
    </div>
    <div class="col-4">
        <!--<div class="d-flex justify-content-center"><img src={{pics[7]}}></div>-->
        <h4>{{topDName}}</h3>
        <h4>{{topDNum}}</h4>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center"><img src={{pics[7]}}></div>
        <h4>{{topKName}}</h3>
        <h4>{{topKNum}}</h4>
    </div>
</div>